<div class="field">
    <p class="instructions">You can enter an address and press the 'Enter' key to geocode it.</p>
    <input id="{{ id ~ 'Address' }}" class="text address fullwidth" placeholder="Ex: Paris, Tour Eiffel"/>
    <div id="{{ id ~ 'Spinner' }}" class="spinner hidden"></div>
</div>

<p class="instructions">You can add a marker by clicking on the map and you can remove a marker by clicking on it again.</p>
<div class="mapContainer">
    <div id="{{ id ~ 'Map' }}" class="fullwidth mapCanvas"></div>
</div>
<input name="{{ name }}" id="{{ id ~ 'Value' }}" type="hidden" value="hello" />

{% includeCssResource "maps/css/maps.css" %}
{% set mapjs %}
    var map;
    google.maps.event.addDomListener(window, 'load', function() {
        map = new Maps.MapFieldType(
            "{{ id | namespaceInputId }}",
            '{{ (value.markers is defined ? value.markers : null)|json_encode|raw }}',
            '{{ (value.options is defined ? value.options : null)|json_encode|raw }}'
        );
    });
{% endset %}
{% includeJs mapjs %}
